.checkoutProduct{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 18rem;
    height: 18rem;
}
.checkoutProduct__info{
    padding-left: 2rem;
}
.checkoutProduct__title{
    font-size:1.7rem;
    font-weight: 800;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__info >  button{
    margin: 1rem 0;
    padding: .3rem .8rem;
    font-size: 1.5rem;
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    outline: none;
    transition: -2.9s all;
}
.checkoutProduct__info > button:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
}
/*
tablet Or Mobile max-width:1224px
Desktop or leptop min-width:1224px
big screen min-width:1824px
*/

/* tablet Or Mobile */
@media only screen and (max-width: 1224px) {
    .checkoutProduct__title {
        font-size: 1.4rem;
    }
}