.header{
  background-color: #131921;
  object-fit: contain;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo{
  width: 10rem;
  object-fit: contain;
  margin:0 2rem;
  margin-top: 1.8rem;
}
.header__optionBasket{
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
.header__basketCount{
  margin-left: 1rem;
  margin-right: 1rem;
}
.header__nav{
  display: flex;
  justify-content:space-evenl;
}
.header__option{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}
.header__optionLineOne{
  font-size: 1rem;
}
.header__optionLineTwo{
  font-size: 1.3rem;
  font-weight: bold;
}
.header__link{
  color: white;
  text-decoration: none;
}
.header__search{
  display: flex;
  flex: 1;
}
.header__searchInput{
  height: 1.2rem;
  padding: 1rem;
  border: none;
  width: 100%;
}
.header__searchIcon{
  padding: .5rem;
  height: 2.2rem !important;
  background-color: #cd9042;
}
/*
tablet Or Mobile max-width:1224px
Desktop or leptop min-width:1224px
big screen min-width:1824px
*/

/* tablet Or Mobile */
@media only screen and (max-width: 1224px) {
  .header{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__nav{
    flex-direction: column;
    align-items: center;
    background: #131921;
    gap: 1.4rem;
    transition: 1s ease all;
    padding: 2rem;
    position: sticky;
    top: 5.6rem;
    z-index: 100;
  }
  .header__optionBasket{
    margin-left: 2rem;
  }
  .toggler__button{
    margin: 2rem;
    background-color:#ffe4c400;
    border: .1rem solid #cd9042;
    border-radius: .5rem;
    padding: .8rem;
  }
  .toggler__button:hover {
    border: .1rem solid #6b5941;
  }
  .header__option {
    text-align: center;
  }
  .header__link {
    width: 50%;
    border-radius: 0.5rem;
    border-bottom: 1px solid #cd9042;
    padding: 1rem;
  }
  .header__sm{
    display: flex;
  }
  .header__sm__link{
    color: #ffffff;
    text-decoration: none;
  }

}  