.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.product__price{
  margin-top:5px;
}
.product__info{
  height: 100px;
  margin-bottom: 15px;
}
.product__rating{
  display: flex;
}
.product > img{
  max-height: 200px;
  width:100%;
  object-fit:contain;
  margin-bottom: 15px;
}
.product > button{
  padding: 3px 8px;
  font-size: 15px;
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  outline: none;
  transition: -2.9s all;
  }
.product > button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
}